<div class="grid-container" dir="rtl">

  <div class="listbox">
    <la-listbox header="Persons" footer="Count: {{ persons.length }}" [showAddButton]="true" (addItem)="addPerson()">
      <div class="la-items">
        <ng-container *ngFor="let person of persons">
          <la-card [person]="person"></la-card>
        </ng-container>
      </div>
    </la-listbox>
  </div>

  <div class="showOkDialog">
    <la-button class="la-button-secondary" label="Show OK Dialog" (click)="showOkDialog = true"></la-button>
  </div>

  <div class="showYesNoDialog">
    <la-button class="la-button-secondary" label="Show Yes|No Dialog" (click)="showYesNoDialog = true"></la-button>
  </div>

  <div class="input text">
    <la-inputText label="Input Text" [(ngModel)]="textEmptyExample" [required]="true"></la-inputText>
  </div>
  
  <div class="input text">
    <la-inputText label="Input Text (required)" [(ngModel)]="textEmptyExample" [required]="true"></la-inputText>
  </div>

  <div class="input text">
    <la-inputText label="Input Text (with errors)" [(ngModel)]="textEmptyExample" [required]="true" minlength="2"></la-inputText>
  </div>

  <div class="input text">
    <la-inputText label="Input Text (read only)" [(ngModel)]="textExample" [readonly]="true"></la-inputText>
  </div>

  <div class="input text">
    <la-inputText label="Input Text (disabled)" [(ngModel)]="textExample" [disabled]="true"></la-inputText>
  </div>

  <div class="input number">
    <la-inputNumber label="Input Number (with errors)" [(ngModel)]="numberExample" [required]="true" [min]="0"></la-inputNumber>
  </div>

  <div class="calendar">
    <la-calendar [(ngModel)]="date" [rtl]="true" type="birthday" language="he"></la-calendar>
  </div>

  <div class="date-picker">
    <la-datepicker [(ngModel)]="date2" label="Date Picker" [rtl]="true" (selectDate)="onSelectDate($event)"></la-datepicker>
  </div>

  <div class="dropdown">
    <la-dropdown [options]="getGenderDataSource()" label="Drop Down List (gender)" placeholder="Select a gender" [(ngModel)]="gender" [required]="true" ></la-dropdown>
  </div>

  <div class="select-button">
    <la-selectbutton [options]="getGenderDataSource()" label="Select Button (gender)" [(ngModel)]="gender" [rtl]="true"></la-selectbutton>
  </div>

  <div class="switch-button">
    <la-switchbutton label="Switch Button (done)" [(ngModel)]="done" [rtl]="true"></la-switchbutton>
  </div>

  <div class="done value">
    Date: {{ date | date: 'dd-MM-yyyy' }}
  </div>

  <div class="done value">
    Date: {{ date2 | date: 'dd-MM-yyyy' }}
  </div>
    
</div>

<la-dialog [open]="showOkDialog" [header]="'LA - Dialog'" [laStyle]="{'height': '700px'}" (ok)="showOkDialog = false">
  <div class="la-dialog-content">
    <form class="la-dialog-content-grid" id="dialogForm" [formGroup]="dialogForm" (ngSubmit)="onSubmit()">

      <div class="form-group firstName">
        <la-inputText formControlName="firstName" label="First Name:" [(ngModel)]="textEmptyExample" [invalidError]="getInvalidMsg('firstName')"></la-inputText>
      </div>

      <div class="form-group lastName">
        <la-inputText formControlName="lastName" label="Last Name:" [(ngModel)]="textEmptyExample" [invalidError]="getInvalidMsg('lastName')"></la-inputText>
      </div>

      <div class="form-group dropdown">
        <la-dropdown formControlName="gender" [options]="getGenderDataSource()" label="Drop Down List (gender)" placeholder="Select a gender" [(ngModel)]="gender" [invalidError]="getInvalidMsg('gender')"></la-dropdown>
      </div>

      <div class="form-group select-button">
        <la-selectbutton formControlName="gender2" [options]="getGenderDataSource()" label="Select Button (gender)" [(ngModel)]="gender2" [invalidError]="getInvalidMsg('gender2')"></la-selectbutton>
      </div>

    </form>

  </div>

  <div class="la-dialog-footer">
      <la-button class="la-button-secondary" form="ngForm" label="OK" (click)="onSubmit()"></la-button> <!--  -->
      <la-button class="la-button-info" label="Cancel" (click)="showOkDialog = false"></la-button>
  </div>
</la-dialog>

<la-dialog [open]="showYesNoDialog" [header]="'LA - Dialog'" buttons="yes|no" (yes)="showYesNoDialog = false"></la-dialog>