<div class="grid-container">
    <div class="input text">
      <la-inputText [label]="'Input Text'" [(ngModel)]="textEmptyExample" [showErrors]="true"></la-inputText>
    </div>

    <div class="input text">
      <la-inputText [label]="'Input Text (required)'" [(ngModel)]="textEmptyExample" [required]="true" [showErrors]="false"></la-inputText>
    </div>

    <div class="input text">
      <la-inputText [label]="'Input Text (with errors)'" [(ngModel)]="textEmptyExample" [required]="true" [showErrors]="true"></la-inputText>
    </div>

    <div class="input text">
      <la-inputText [label]="'Input Text (read only)'" [(ngModel)]="textExample" [showErrors]="false" [readonly]="true"></la-inputText>
    </div>

    <div class="input text">
      <la-inputText [label]="'Input Text (disabled)'" [(ngModel)]="textExample" [showErrors]="false" [disabled]="true"></la-inputText>
    </div>

    <div class="input number">
      <la-inputNumber [label]="'Input Number (min: 0)'" [(ngModel)]="numberExample" [showErrors]="false" [min]="0"></la-inputNumber>
    </div>
</div>