.grid-container {
    display: grid;
    width: 100%;
    grid-gap: 40px;
    background-color: coral;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px auto auto auto;

    .dropdown { 
        height: 60px;
    }
}

.la-dialog-content-grid {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-areas: 'firstName'
                         'lastName'
                         'dropdown'
                         'select-button'
                         'date-picker';

    .form-group {
        width: 100%;
        margin-bottom: 10px;

        &.firstName {
            grid-area: firstName;
        }

        &.lastName {
            grid-area: lastName;
        }

        &.dropdown {
            grid-area: dropdown;
        }

        &.select-button {
            grid-area: select-button;
        }

        &.date-picker {
            grid-area: date-picker;
        }
    }

    .is-invalid {
        border: red 1px solid;
    }

    .invalid-feedback {
        color: red;
        font-size: 1.2vh;
    }
}

.la-dialog-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.la-rtl {
    &.grid-container {
        direction: rtl;
    }
}